# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript cache
.tsbuildinfo

# Output of build
/dist
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.tmp
